.new-reflection {
  display: flex;
  height: 300px;
}

.new-reflection-left {
  flex: 5;

}

.lined-paper {
  background-image: url("/lined-paper2.png");
  background-size: cover;
  width: 95%;
  max-width: 580px;
  height: 90%;
}

.lined-paper .lined-paper-form {
  margin: 20px;
}

.lined-paper .lined-paper-form .paper-form-title {
  display: inline-block;
  margin-top: 40px;
  margin-left: 60px;
  font-weight: bold;
  font-size: 22px;
}


.new-reflection-right {
  flex: 2;
    align-self: center;
}

@media screen and (max-width: 890px) {
  .new-reflection-right {
    flex: 0;
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .lined-paper {
    width: 450px;
    height: 200px;
  }

  .lined-paper .lined-paper-form .paper-form-title {
    margin-top: 24px;
    margin-left: 50px;
    font-size: 20px;
  }
}
