.myagenda-wrapper {
  padding: 20px;
  display: grid;
  grid-template-rows: 180px 1fr;
}

.myagenda {
  display: flex;
  width: 90%;
  min-width: 450px;
  max-width: 800px;
  height: 150px;
  margin: 0 auto;
  background-color: rgb(81, 84, 92);
  border: 3px rgb(41, 44, 52) solid;
  align-items: center;
  overflow: scroll;
}

.myagenda .student-show-progression {
  grid-template-rows: 0px 100px;
  border-radius: 30px;
  margin-left: 20px;
  margin-top: 15px;
}

.highlighted {
  /* background-color: yellow;
  transition-property: background-color;
  transition-duration: 1s; */
  transform: scale(1.12);
  transition: transform 0.5s;
  z-index: 5;
}

.unhighlighted {
  opacity: 0.5;
}

/* -----------------------------------my progression---------------------------------- */
.myprogression {

}

.nav-buttons {
  font-size: 40px;
  margin-top: -5px;
  margin-bottom: -20px;
}

.nav-buttons span:hover {
  color: grey;
  cursor: pointer;
}

.nav-buttons .submit-progression {
  display: block;
  margin-top: -56px;
  margin-left: 45px;
  margin-bottom: 15px;
}

.nav-buttons .submit-progression button {
  padding: 4px 8px;
  color: black;
  background-image: none;
  background: transparent;
  border: 2.5px solid black;
}

.nav-buttons .submit-progression button:hover {
  border: 2.5px solid gray;
}

.nav-buttons .submit-progression button:focus {
  outline: none;
}

.myprogression .student-show-progression-title {
  font-size: 20px;
  height: 22px;
}

.red-border {
  border: 2px solid rgb(233, 43, 43);
}

.orange-border {
  border: 2px solid rgb(217, 139, 8);
}

.green-border {
  border: 2px solid rgb(37, 189, 21);
}

.blue-border {
  border: 2px solid rgb(46, 185, 227);
}

.purple-border {
  border: 2px solid rgb(116, 45, 232);
}

/* ----------------------my progresion video ---------------------------*/
.myprogression-video {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: center;
  min-height: 250px;
}

.myprogression .myprogression-video .video-display {
  margin-bottom: 30px;
}

.myprogression .myprogression-video .video-details {
  width: 350px;
  margin: 0 30px 30px 30px;
}

.video-details h4, .video-details h6 {
  display: inline;
}

/* ----------------------my progression reflection --------------------- */

.myprogression-reflection {
  display: flex;
  flex-wrap: wrap;
  min-height: 250px;
  padding: 20px;
  justify-content: center;
}

.myprogression-reflection .lined-paper {
  max-width: 350px;
  background-image: url('/lined-paper.png');
  background-size: 350px 650px;
  background-repeat: no-repeat;
  height: 230px;
  margin-right: 30px;
  margin-left: 30px;
  margin-bottom: 30px;
}

.reflection-response {
  flex: 1;
}

.myprogression-reflection-title {
  text-align: center;
  margin-top: 24px;
  font-size: 24px;
  font-weight: bold;
  height: 28px;
}

.myprogression-reflection-question {
  margin-left: 50px;
  margin-top: 8px;
  padding-right: 10px;
  line-height: 29px;
}

.myprogression-reflection textarea {
  margin: 0 20px 20px 20px;
  flex: 1;
  min-width: 300px;
  background: white;
  border-radius: 20px;
  border: 1px dashed black;
  min-height: 210px;
  max-width: 450px;
  width: inherit;
  font-size: 18px;
  padding: 10px 15px 0px 10px;
  line-height: 24px;
  resize: none;
}

.myprogression-reflection textarea:focus {
  outline: none;
}

@media screen and (min-width: 1000px) {
  .myprogression {
    width: 90%;
    margin: 0 auto;
  }
}
