.myagenda-wrapper {
  padding: 20px;
  display: grid;
  grid-template-rows: 180px 380px;
}

.myagenda {
  display: flex;
  width: 90%;
  min-width: 450px;
  max-width: 800px;
  height: 150px;
  margin: 0 auto;
  background-color: rgb(81, 84, 92);
  border: 3px rgb(41, 44, 52) solid;
  align-items: center;
  overflow: scroll;
}

.myagenda .student-show-progression {
  grid-template-rows: 0px 100px;
  border-radius: 30px;
  margin-left: 20px;
  margin-top: 15px;
}

/* -----------------------------------my progression---------------------------------- */
.myprogression {
  border: 2px dashed black;
}

.myprogression .student-show-progression-title {
  font-size: 20px;
  height: 22px;
}

.myprogression .myprogression-video {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  height: 317.5px;
  overflow: scroll;
  justify-content: center;
}

.myprogression .myprogression-video div:first-child {
  width: 450px;
}

.myprogression .myprogression-video div:nth-child(2) {
  width: 300px;
}

.red-border {
  border: 2px solid rgb(233, 43, 43);
}

.orange-border {
  border: 2px solid rgb(217, 139, 8);
}

.green-border {
  border: 2px solid rgb(37, 189, 21);
}

.blue-border {
  border: 2px solid rgb(46, 185, 227);
}

.purple-border {
  border: 2px solid rgb(116, 45, 232);
}
