.home-page-wrapper.profile .form-input-fields {
  height: 280px;
}

.home-page-wrapper.profile .form-input-fields input[type=text] {
  width: 250px;
  text-align: center;
}

.home-page-wrapper.profile .profile-pic-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 15px;
}




.profile-pic-form .file-submit button {
  padding: 4px 8px;
  font-size: 12px;
}


.profile-pic-form img {
  height: 130px;
  width: 108px;
  object-fit: cover;
  margin-bottom: 20px;
}
