.edit-students {
  margin: 20px;
}

.edit-students button:focus {
  outline: none;
}

.edit-table {
  border: 1px solid black;
  padding: 20px;
}

.edit-table div {

}

.edit-table > div, .edit-table form > div {
  display: grid;
  grid-template-columns: 120px 120px 120px 120px 80px 80px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
}

.edit-table-header div {
  font-weight: bolder;
}

.edit-table-student-row button {
  padding: 2px 8px;
  margin-top: -2px;
}

.student-form input[type=text] {
  font-size: 16px;
  width: 100px;
  padding: 1px 0;
  padding-left: 5px;
  margin-left: -7px;
  margin-top: -5px;
  color: rgb(100, 100, 100);
}

.add-student-button {
  grid-column: 1 / 4;
}

.add-student-button button {
  width: 140px;
  margin-left: 80px;
}
