.edit-students {
  margin: 20px;
  grid-column: 1 / 3;
}

.edit-students button:focus {
  outline: none;
}

.edit-table {
  margin: 0 auto;
  border: 1px solid black;
  width: 100%;
  max-width: 750px;
}

.edit-table > div, .edit-table form > div {
  font-size: 16px;
  display: flex;
  flex-wrap: wrap;
}

.edit-student-data {
  width: 120px;
}

.edit-student-edit-button {
  width: 20px;
}

.edit-student-delete-button {
  width: 50px;
}

.add-student-button {
  width: 120px;
  text-align: center;
}

.edit-table-header {
  background-color: rgb(101, 104, 112);
  font-weight: bolder;
  color: white;
}

.edit-table-header div {
  padding: 15px;
}

.edit-table-student-row div {
  padding: 15px;
}

.edit-table-student-row.even {
  background-color: rgb(225, 225, 225);
}

.edit-table-student-row.odd {
  background-color: rgb(240, 240, 240);
}

.edit-table button {
  padding: 2px 8px;
  margin: 0px;
  margin-top: -2px;
}

.student-form input[type=text] {
  font-size: 16px;
  width: 120px;
  padding: 1px 0;
  padding-left: 5px;
  margin-left: -7px;
  margin-top: -5px;
  color: rgb(100, 100, 100);
}
