.student-summary-page {
  margin: 20px;

  border: 1px solid black;
  overflow: hidden;
  max-width: 1030px;
  margin: 0 auto;
  margin-top: 10px;
}

.student-summary-page .header {
  display: grid;
  grid-template-columns: 250px 200px 250px 200px;
  grid-column-gap: 30px;
  grid-template-rows: 50px;
  font-size: 16px;
  font-weight: bold;
  background-color: rgb(101, 104, 112);
  color: white;
  padding: 0 10px;
}

.student-summary-page .header div  {
  padding-top: 15px;
  margin: 0 auto;
}

.student-summary-page .progression-row  {
  display: grid;
  grid-template-columns: 250px 200px 250px 200px;
  grid-template-rows: 180px;
  grid-column-gap: 30px;
  font-size: 14px;
  padding: 0 10px;
  background-color: rgb(225, 225, 225);
}

.student-summary-page .progression-row:nth-child(2n-1)  {
  background-color: rgb(240, 240, 240);
}

.student-summary-page .summary-progression {
  display: grid;
  grid-template-rows: 3fr 1fr;
}

.summary-dates {
  display: flex;
  justify-content: center;

}

.summary-dates .date-category {
  margin-left: 20px;

}


.student-summary-page .progression-row .student-show-progression {
  margin: auto;
}

.incomplete {
  color: red;
  font-weight: bold;
}

.summary-dates {
  margin: auto;
}

.summary-reflection, .summary-reflection-answer{
  overflow-y: scroll;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  max-height: 130px;
}

.summary-reflection h5 {
  display: inline;
}

.summary-reflection {
  background-image: url('/lined-paper2.png');
  background-size: 200px 140px;
  background-repeat: no-repeat;
  padding: 10px;
  padding-top: 17px;
  padding-left: 30px;
  padding-right: 10px;
  line-height: 17px;
}

.summary-reflection-comment.post-it {
  background-image: url('/post-it.png');
  background-size: 200px 185px;
  background-repeat: no-repeat;
  padding-top: 30px;
  padding-left: 15px;
  padding-right: 20px;
  margin-top: -8px;
}

.summary-reflection-comment.post-it div {
  overflow-y: scroll;
  height: 140px;
  transform: rotate(-3deg);
}

.student-summary-page .progression-row .summary-dates div:first-child{
  margin-bottom: 12px;
}

.student-summary-page .student-show-progression {
  height: 65px;
}

.student-summary-page .student-show-progression .student-show-progression-items {
  max-width: 240px;
}

/*
@media screen and (max-width: 1050px) {
  .student-summary-page {
    max-width: 700px;
  }

  .student-summary-page .header {
    grid-template-columns: 350px 300px;
    grid-template-rows: 1fr 1fr;
  }

  .student-summary-page .progression-row  {
    grid-template-columns: 350px 300px;
    grid-template-rows: 1fr 1fr;
  }
} */


@media screen and (max-width: 1050px) {
  .student-summary-page {
    max-width: 500px;
  }

  .student-summary-page .header {
    grid-template-columns: 250px 200px;
    grid-template-rows: 1fr 1fr;
  }

  .student-summary-page .progression-row  {
    grid-template-columns: 250px 200px;
    grid-template-rows: 1fr 1fr;
  }
}
