.new-progression-container {
  padding: 20px;
  display: grid;
  grid-template-rows: 30px 170px 50px 400px;
}

.create-progression-form input[type=text] {
  width: 300px;
  height: 20px;
  font-size: 16px;
}

.create-progression-form input[type=submit] {
  margin-left: 10px;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border-radius: 5px;
}

.create-progression-form input[type=submit]:hover {
  background-color: green;
  cursor: pointer;
}

.progression {
  padding: 10px;
  border: 1px solid black;
  display: flex;
  overflow-x: scroll;
}

.progression-item {
  width: 160px;
  min-width: 160px;
  border: 1px solid black;
  padding: 10px;
  border-radius: 25px;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: -15px;
  background-color: white;
  box-shadow: 2px 5px 9px #888888;
}

.progression .progression-item:hover {
  border: 1px gray solid;
  cursor: pointer;
}

.progression .progression-item .progression-item-title {
  display: block;
  font-weight: bold;
  font-size: 14px;
  height: 35px;
  overflow: hidden;
}

.progression-item img {
  width: 140px;
  height: 75px;
  object-fit: cover;
}

.x-out {
  display: inline;
  position: relative;
  font-weight: bold;
  border: 1px solid black;
  padding: 0px 4px;
  color: white;
  background-color: rgb(234, 130, 120);
  border-radius: 3px;
  left: 5px;
  bottom: 5px;
}

.x-out:hover {
  background-color: rgb(235, 81, 66);
  cursor: pointer;
}

.progression .progression-item h4 {
  display: inline;
}

.progression-menu-bar ul {
  display: flex;
  list-style-type: none;
  margin-left: -40px;
}

.progression-menu-bar ul li {
  padding: 2px 10px;
  margin-right: 5px;
  border: 1px black solid;
  border-bottom: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.progression-menu-bar ul li:hover {
  background-color: gray;
}

.progression-menu-bar .selected {
  background-color: gray;
}

.drag-over-progression {
  border: 3px gray solid;
  padding: 8px;
}

.item-dragging {
  border: 3px solid gray;
  padding: 8px;
}


/* index progressions page */

.progressions-index-container {
  padding: 10px 20px;
}

.index-progression {
  display: grid;
  margin: 20px 0;
  grid-template-columns: 150px 10px 1fr;
}

.index-progression-items {
  display: flex;
  border: 1px black dashed;
  padding: 5px;
  padding-right: 15px;
  width: min-content;
  max-width: 600px;
  border-radius: 15px;
  overflow: scroll;
}

.index-progression-item {
  width: 80px;
  min-width: 80px;
  border: 1px solid black;
  padding: 10px;
  border-radius: 25px;
  text-align: center;
  margin-left: 10px;
  background-color: white;
  box-shadow: 2px 3px 3px #888888;
}

.index-progression-item img {
  width: 70px;
  height: 40px;
  object-fit: cover;
}

.index-progression-item-title {
  display: block;
  font-weight: bold;
  font-size: 10px;
  height: 25px;
  overflow: hidden;
}

.index-progression-x-out {
  display: block;
  height: 20px;
  width: 10px;
  position: relative;
  font-weight: bold;
  border: 1px solid black;
  padding: 0px 4px;
  color: white;
  background-color: rgb(234, 130, 120);
  border-radius: 3px;
  top: -10px;
}

.index-progression-x-out:hover {
  cursor: pointer;
}
