.loading {
  align-self: center;
  margin-top: 40px;
  height: 150px;
  width: 150px;
  background-image: url("/loading.png");
  background-size: contain;
  background-repeat: no-repeat;
  animation: rotation 3.5s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.search-bar {
  display: flex;
  border: 1px black solid;
  width: 300px;
  border-radius: 40px;
  padding: 4px 8px;
  transition: 0.2s;
  padding-right: 0px;
}

.search-bar:hover {
  border: 1px gray solid;
  transition: 0.3s;
}


.search-bar .mag-glass {
  width: 18px;
  height: 18px;
  background-image: url("/mag-glass.png");
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 5px;
  margin-right: 10px;
  margin-top: 2px;
}

.search-bar input[type=text]{
  height: 20px;
  border: none;
  font-size: 14px;
  width: 200px;
}

.search-bar input[type=text]:focus{
  outline: none;
}

.search-bar input[type=submit]{
  padding: 2px 6px;
  border-left-color: black;
  font-size: 13px;
  font-weight:500;
  border-radius: 0px 25px 25px 0px;
  height: 30px;
  margin-top: -4px;
  margin-bottom: -10px;
  margin-left: 12px;

}

.search-bar input[type=submit]:focus {
  outline: none;
}


.search-videos-container {
  display: flex;
  justify-content: center;
  /* display: grid;
  grid-template-columns: 3fr 2fr; */
}

.search-videos {
  display: flex;
  flex-wrap: wrap;
  height: 320px;
  overflow: scroll;
  margin-top: 10px;
}

.video-icon {
  margin-top: 30px;
}

.video-icon img {
  display: block;
  margin: 0 auto;
}

.search-video {
  width: 200px;
  height: 220px;
  justify-content: center;
  margin-right: 7px;
  margin-bottom: 20px;
  cursor: grab;
  background-color: white;
}

.search-video .title-text {
  font-size: 14px;
  font-weight: bold;
  height: 35px;
  overflow: hidden;
}

.search-video .creator-text {
  margin-top: 10px;
  font-size: 12px;
}

.search-video .created-date {
  font-size: 12px;
}

.search-video img {
  width: 200px;

}

.search-video-preview {
  margin-top: 10px;
  width: 350px;
}

.search-video-preview h4, .search-video-preview h6  {
  display: inline;
}

@media screen and (max-width: 700px) {
  .video-icon img {
    width: 200px;
  }
}

@media screen and (max-width: 650px) {

  .search-videos-container {
    display: flex;
    flex-wrap: wrap;
  }

  .search-videos {
    display: flex;
    flex-wrap: nowrap;
    height: 188px;
    width: 490px;
    overflow-y: hidden;
    overflow-x: scroll;
    margin-top: 10px;
    margin-left: -20px;
    padding-left: 10px;
  }

  .loading {
    margin-bottom: 0px;
    margin-top: 40px;
  }

  .search-video-preview {
    margin-top: 30px;
  }

}
