
.myagenda-wrapper {
  padding: 20px;
  padding-top: 10px;
  display: grid;
  grid-template-rows: 210px 1fr;
}

.myagenda-navbar {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.myagenda-navbar button {

}

.myagenda-navbar div {
  display: block;
}

.myagenda {
  display: flex;
  width: 90%;
  min-width: 450px;
  max-width: 800px;
  height: 180px;
  margin: 0 auto;
  background-color: rgb(81, 84, 92);
  border: 3px rgb(41, 44, 52) solid;
  align-items: center;
  overflow: scroll;
}

.myagenda .progression-wrapper {
  display: grid;
  grid-template-rows: 150px 20px;
}

.myagenda .progression-wrapper .student-show-progression {
  grid-template-rows: 0px 100px;
  border-radius: 30px;
  margin-left: 20px;
  margin-top: 15px;
}

.progression-wrapper .progression-status {
  display: flex;
  align-items: center;
  color: white;
  margin: 0 auto;
  font-size: 12px;
  font-weight: bold;
}

.dot {
  display: inline-block;
  margin-right: 5px;
  height: 10px;
  width: 10px;
  background-color: red;
  border: 1px solid pink;
  border-radius: 50%;
}

.dot.yellow {
  background-color: rgb(251, 255, 0 );
  border: 1px solid rgb(249, 250, 173);
}

.dot.green {
  background-color: rgb(21, 250, 17);
  border: 1px solid rgb(176, 255, 175);
}

.highlighted{
  transform: scale(1.12);
  transition: transform 0.5s;
  z-index: 5;
}

.highlighted-less{
  transform: scale(1.02);
  transition: transform 0.5s;
  z-index: 5;
}

.unhighlighted-less{
  transform: scale(0.95);
  transition: transform 0.5s;
  z-index: 5;
}

.unhighlighted {
  opacity: 0.5;
}

.submitted, .graded {
  background-color: grey;
}





/* -----------------------------------my progression---------------------------------- */
.myprogression {

}

.nav-buttons {
  display: flex;
  font-size: 40px;
  margin-top: -10px;
  margin-bottom: -10px;
  justify-content: center;
}

.nav-buttons .gray{
  color: gray;
}

.nav-buttons .gray:hover {
  cursor: auto;
}

.nav-buttons span:hover {
  color: grey;
  cursor: pointer;
}

.nav-buttons .submit-progression {
  margin-top: -10px;
  margin-left: 30px;
}


.myprogression button, .myprogression input[type=submit] {
  padding: 4px 8px;
  color: black;
  background-image: none;
  background: transparent;
  border: 2.5px solid black;
}

.myprogression button:hover, .myprogression input[type=submit]:hover {
  border: 2.5px solid gray;
}

.nav-buttons .submit-progression button:focus {
  outline: none;
}

.submit-progression.gray-button button {
  border: 2.5px solid gray;
  color: gray;
}

.submit-progression.gray-button button:hover {
  border: 2.5px solid gray;
  cursor: default;
}

.myprogression .student-show-progression-title {
  font-size: 20px;
  height: 22px;
}

.red-border {
  border: 2px solid rgb(233, 43, 43);
}

.orange-border {
  border: 2px solid rgb(217, 139, 8);
}

.green-border {
  border: 2px solid rgb(37, 189, 21);
}

.blue-border {
  border: 2px solid rgb(46, 185, 227);
}

.purple-border {
  border: 2px solid rgb(116, 45, 232);
}

/* ----------------------my progression video ---------------------------*/
.myprogression-video {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: center;
  min-height: 250px;
}

.myprogression .myprogression-video .video-display {
  margin-bottom: 30px;
}

.myprogression .myprogression-video .video-details {
  width: 350px;
  margin: 0 30px 30px 30px;
}

.video-details h4, .video-details h6 {
  display: inline;
}

/* ----------------------my progression reflection --------------------- */

.myprogression-reflection {
  display: flex;
  flex-wrap: wrap;
  min-height: 250px;
  padding: 20px;
  justify-content: center;
}

.myprogression-reflection .lined-paper {
  max-width: 350px;
  background-image: url('/lined-paper.png');
  background-size: 350px 650px;
  background-repeat: no-repeat;
  height: 230px;
  margin-right: 30px;
  margin-left: 30px;
  margin-bottom: 30px;
}

.reflection-response {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.reflection-response h3 {
  margin-bottom: 0px;
}

.reflection-response p {

}

.myprogression-reflection-title {
  text-align: center;
  margin-top: 24px;
  font-size: 24px;
  font-weight: bold;
  height: 28px;
}

.myprogression-reflection-question {
  margin-left: 50px;
  margin-top: 8px;
  padding-right: 10px;
  line-height: 29px;
}

.myprogression-reflection textarea {
  margin: 0 20px 20px 20px;
  min-width: 350px;
  background: white;
  border-radius: 20px;
  border: 1px dashed black;
  min-height: 220px;
  max-width: 450px;
  font-size: 18px;
  padding: 10px 15px 0px 10px;
  line-height: 24px;
  resize: none;
}

.myprogression-reflection textarea:focus {
  outline: none;
}

@media screen and (min-width: 1000px) {
  .myprogression {
    width: 90%;
    margin: 0 auto;
  }
}
