.search-videos-container {
  display: grid;
  grid-template-columns: 700px 400px;
}

.search-videos {
  display: flex;
  flex-wrap: wrap;
  height: 360px;
  overflow: scroll;
  margin-top: 10px;
}

.search-video {
  width: 200px;
  height: 220px;
  justify-content: center;
  margin-right: 7px;
  margin-bottom: 20px;
  cursor: grab;
}

.search-video .title-text {
  font-size: 14px;
  font-weight: bold;
  height: 35px;
  overflow: hidden;
}

.search-video .creator-text {
  margin-top: 10px;
  font-size: 12px;
}

.search-video .created-date {
  font-size: 12px;
}

.search-video img {
  width: 200px;
}

.search-video-preview {
  max-width: 500px;
  margin-top: 10px;
}

.search-video-preview h4, .search-video-preview h6  {
  display: inline;
}
