.student-show-wrapper .myagenda {
  margin-top: -15px;
}

.empty-agenda {
  display: inline-block;
  color: white;
  margin: 0 auto;
}

/* -------------------------StudentShowReflection------------------ */

.student-show-wrapper .myprogression {
  width: 95%;
}
.student-show-wrapper .myprogression-reflection {
  display: flex;
  flex-wrap: wrap;
  min-height: 250px;
  padding: 20px 10px;
  justify-content: space-around;
}

.student-show-wrapper  .myprogression-reflection .lined-paper {
  max-width: 300px;
  background-image: url('/lined-paper.png');
  background-size: 300px 650px;
  background-repeat: no-repeat;
  height: 230px;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 40px;
}

.student-show-wrapper  .myprogression-reflection-title {
  text-align: center;
  margin-top: 24px;
  font-size: 24px;
  font-weight: bold;
  height: 28px;
}

.student-show-wrapper  .myprogression-reflection-question {
  margin-left: 50px;
  margin-top: 10px;
  padding-right: 10px;
  line-height: 28px;
}

.student-show-wrapper .reflection-response {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: -20px;
}

.student-show-wrapper  .reflection-response h3 {
  margin-bottom: 0px;
}

.student-show-wrapper  .reflection-response p {
  text-align: justify;
}

.student-show-wrapper  .teacher-comment {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.student-show-wrapper .teacher-comment.not-editing {
  margin-top: -20px;
  text-align: justify;
  width: 300px;
  background-image: url('/post-it.png');
  background-size: 100% 100%;
  padding-bottom: 20px;
}

.student-show-wrapper .teacher-comment.not-editing h3 {
  margin-top: 40px;
  transform: rotate(-3deg);

}

.student-show-wrapper .teacher-comment.not-editing p {
  margin-top: -8px;
  padding: 0px 25px;
  transform: rotate(-3deg);
  height: 150px;
  overflow: scroll;
}

.student-show-wrapper .teacher-comment.not-editing button {
  transform: rotate(-3deg);
}

.student-show-wrapper  .teacher-comment textarea {
  margin: 0 20px 20px 20px;
  min-width: 250px;
  max-width: 600px;
  background: white;
  border-radius: 20px;
  border: 1px dashed black;
  /* min-height: 220px; */
  font-size: 14px;
  padding: 10px 15px 0px 10px;
  line-height: 24px;
  resize: none;
}

.student-show-wrapper  .myprogression-reflection textarea:focus {
  outline: none;
}
