/* ---------------------- show klass router page ------------------ */
.student-dropdown {
  margin-left: 95px;
  margin-top: -18px;
}

.settings-dropdown {
  margin-left: 270px;
  margin-top: -18px;
}

.gear {
  display: block;
}

.gear img {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  margin-top: 3px;
}

.post-it-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-image: url('/post-it.png');
  background-size: cover;
  width: 35px;
  height: 35px;
  margin-left: 10px;
  z-index: 6;
}

.post-it-icon p {
  font-weight: bold;
  transform: rotate(-3deg);
  padding-top: 3px;
}

.post-it-icon:hover {
  cursor: pointer;
}

.gear .clock{
  transform-origin: center;
  transform: rotate(45deg);
  transition: transform 250ms ease;
}

.gear .counterclock{
  transform-origin: center;
  transform: rotate(-45deg);
  transition: transform 250ms ease;
}



.student-dropdown-button {
  width: 180px;
  display: grid;
  grid-template-columns: 170px 10px;
  margin-left: 20px;
  text-decoration: none;
  color: #666666;

  box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	background-color:#f9f9f9;
	border-radius:6px;
	border:1px solid #dcdcdc;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding: 6px 12px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}

.student-dropdown-button div:first-child {
  overflow: hidden;
}

.student-dropdown-button:hover {
  color: gray;
  cursor: pointer;
}

.triangle.up {
  transform: rotate( -180deg ) translateX(-4px);
  transition: transform 250ms ease;
}

.triangle.down {
  transform: rotate( -360deg );
  transition: transform 250ms ease;
}



/* ---------------------- klass index page ------------------------ */

.home-page-wrapper {
  display: flex;
  background-image: url('/classroom2.png');
  background-size: cover;
  height: 630px;
  align-items: center;
  justify-content: center;

}

.klass-index-container {

  display: grid;
  grid-template-rows: 100px auto 60px;
  border: 3px rgb(41, 44, 52) solid;
  width: 430px;
  background-color: rgb(81, 84, 92);
}

.klass-index-container button:focus {
  outline: none;
}


.klass-index-title {
  display: grid;
  grid-template-rows: 60px 20px;
  background-color: rgb(101, 104, 112);
  color: white;
  font-weight: bold;
  font-size: 28px;
  justify-content: center;

}

.klass-index-title div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.klass-index-title div div:first-child {

}

.klass-rows {
  padding: 20px;
  color: white;
}

.klass-row {
  display: grid;
  grid-template-columns: 200px 40px 60px 60px;

  max-height: 60px;
  overflow-y: hidden;
  transition-property: max-height;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(.56, 1, .56, 1);
}

.klass-row .post-it-icon {
  position: relative;
  color: black;
  margin-top: 10px;
}

.klass-row .post-it-icon:hover {
  cursor: default;
}

.klass-row div {
  margin-left: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}


.klass-row div:first-child {
  font-weight: bold;
  padding-top: 0px;
  margin-left: 30px;
  font-size: 20px;

}

.klass-row a {
  text-decoration: none;
  color: white;
}

.klass-row a:hover {
  color: lightgray;
}

.klass-row button {
  padding: 2px 8px;
}

.klass-index-new-klass-button {
  margin: 0 auto;
}

.klass-index-new-klass-button button, .klass-index-new-klass-button input[type=submit] {
  width: 200px;
}

.klass-index-new-klass-button button:focus, .klass-index-new-klass-button input[type=submit]:focus {
  outline: none;
}

.klass-index-container form {

  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 30px;
  justify-content: space-around;
  font-size: 20px;
  font-weight: bolder;

}

.add-klass-form {
  overflow-y: hidden;
  transition-property: max-height;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(.56, 1, .56, 1);
}

.slide-open {
  max-height: 55px;
}

.slide-close {
  max-height: 0px;
}

.pause-transition {
  transition-duration: 0.01s;
}

.klass-index-container form input[type=text]{
  font-size: 16px;
  height: 20px;
  padding-left: 8px;
  margin-left: 6px;
  width: 120px;
}

.klass-index-container form input[type=submit]{
  margin-left: 20px;
  padding: 4px 10px;
}
