.navbar {
  background-color: rgb(221, 237, 245);
  padding: 5px;
}

.navbar a {
  padding: 5px;
  margin-left: 20px;
  text-decoration: none;
  color: rgb(75, 174, 196);
  font-weight: bold;
}

.navbar a:hover {
  color: gray;
}
