.navbar {
  background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
  background-color:#f9f9f9;
  padding: 5px;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}

.navbar a, .klass-dropdown {
  padding: 5px;
  margin-left: 20px;
  text-decoration: none;
  color: #666666;
  font-weight: bold;
}

.navbar a:hover, .navbar .klass-dropdown:hover, .klass-dropdown-menu a:hover {
  color: gray;
  cursor: pointer;
}

.navbar .klass-dropdown {
  display: inline-block;
}

.dropdown-menu {
  padding: 0px;
  position: absolute;
  z-index: 10;
  background-color: #f9f9f9;
  width: 200px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 2px 3px 3px lightgray, -2px 3px 3px lightgray;
  display: flex;
  flex-direction: column;

  overflow-y: hidden;
  max-height: 0px;
  transition-property: max-height;
  transition-duration: .4s;
  transition-timing-function: cubic-bezier(.56, 1, .56, 1);
}

.dropdown-menu.klass-dropdown {
  margin-left: 100px;
}

.dropdown-menu.opened {
  max-height: 500px;

}

.dropdown-menu.closed {
  max-height: 0;
}



.dropdown-menu.progression-dropdown {
  margin-left: 190px;
}

.dropdown-menu a {
  margin: 0;
  padding: 12px 15px;
  font-weight: 400;
  font-size: 18px;
  text-decoration: none;
  color: #666666;
  background-color: rgb(250, 250, 250);
}

.dropdown-menu a:hover {
  background-color: lightgray;
  color: white;
}

.dropdown-menu a:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
