.navbar {
  display: flex;
  background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
  background-color:#f9f9f9;
  padding: 5px;

  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}

.navbar .title {
  font-weight: bold;
  color: rgb(100, 100, 100);
  font-size: 17px;
  margin-top: 4px;
  margin-left: 20px;
}

.color-logo {
  align-self: center;
  display: flex;
  margin-left: 15px;
  margin-right: -5px;
  /* margin-left: auto; */
}

.color-logo div {
  margin-left: 1px;
  margin-right:1px;
  width: 5px;
  height: 5px;
}

.navbar a, .klass-dropdown {
  padding: 5px;
  margin-left: 20px;
  text-decoration: none;
  color: #666666;
  font-weight: bold;
  display: inline-block;
}

#color-logo-link, #profile-link {
  margin-left: 0;
  margin-top: 7px;
  padding: 0px;
}

.navbar a:hover, .navbar .klass-dropdown:hover, .klass-dropdown-menu a:hover, .klass-dropdown-menu a:hover  {
  color: gray;
  cursor: pointer;
}


.dropdown-menu {
  padding: 0px;
  position: absolute;
  z-index: 10;
  background-color: #f9f9f9;
  width: 200px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 2px 3px 3px lightgray, -2px 3px 3px lightgray;
  display: flex;
  flex-direction: column;

  overflow-y: scroll;
  transition-property: max-height;
  transition-duration: .4s;
  transition-timing-function: cubic-bezier(.56, 1, .56, 1);
}

.dropdown-menu.klass-dropdown {
  margin-left: 70px;
}

.dropdown-menu.opened {
  max-height: 270px;

}

.dropdown-menu.closed {
  max-height: 0;
}



.dropdown-menu.progression-dropdown {
  margin-left: 160px;
}

.dropdown-menu a, .dropdown-menu div {
  margin: 0;
  padding: 12px 15px;
  font-weight: 400;
  font-size: 18px;
  text-decoration: none;
  color: #666666;
  background-color: rgb(250, 250, 250);
}

.dropdown-menu a:hover, .dropdown-menu div:hover {
  background-color: lightgray;
  color: white;
  cursor: pointer;
}

.dropdown-menu a:last-child, .dropdown-menu div:last-child  {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#logout {
  margin-right: 2%;
}

.navbar a:last-child {
  margin-right: 15px;
}

.profile-pic {
  margin-left: auto;
  width: 30px;
  height: 20px;
  margin-top: -5px;
  margin-right: -10px;
}

.profile-pic img {
  width: 26px;
  height: 30px;
  object-fit: cover;
  margin-top: -3px;
  border-radius: 3px;
}
